:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #162757;
}

#header {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 80vw;
  background-color: #005494;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

#header h1 {
  font-family: 'Jersey 10';
  font-size: 32px;
  font-weight: 400;
  color: #eee;
}

#app {
  width: 80vw;
  height: 80vh;
}

#scorecard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 80vw;
  background-color: #515151;
  color: #fff;
  margin-top: 10px;
  padding: 10px;
}

.scores {
  display: flex;
  padding: 0 5px;
}

.score {
  font-family: 'Jersey 10', serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
}

.score-head-1 {
  color: #f26f6f;
}

.score-head-2 {
  color: #5affe0;
  padding-left: 20px;
}

.actions-game {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.actions-game button {
  width: 100px;
  height: 30px;
  background-color: transparent;
  color: #fff;
}
